div {
  border: 2px solid blue;
  margin: 5px;
  padding: 5px;
}
.product-logo {
  float: right;
}
#right {
  float: right;
  width: 20%;
}
#left {
  float: left;
  width: 20%;
}

#container {
  overflow: hidden;
}
